.commands {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    gap: 12px;
    box-sizing: border-box;
    padding: 12px;
    height: 64px;
    width: 100%;
    bottom: 0;
    background-color: blue;
}

.commands__mode {
    

    background-color: rgb(0, 255, 0);
}

.commands__input {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0, 255, 0);
}

.commands__send {
    background-color: rgb(0, 255, 0);;
}