.commands {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    gap: 12px;
    box-sizing: border-box;
    padding: 12px;
    height: 64px;
    width: 100%;
    bottom: 0;
}

.commands__mode {}

.commands__input {
    padding: 10px;
    border-radius: 20px;
    background-color: #eeeeee;
    transition: background-color 0.25s ease-in-out;
}

.commands__input:focus {
    background-color: #dddddd;
    outline: none;
}

.commands__send {
    background-color: rgb(0, 255, 0);;
}