@import url(./commands.css);
@import url(./script.css);

html, body {
    border: 0;
    padding: 0;
    margin: 0;
}

/** Ensure that font is same for all **/
* {
    font-family: sans-serif;
}

body {
    margin-left: 24px;
    margin-right: 24px;
    height: 100vh;
}