html, body {
    border: 0;
    padding: 0;
    margin: 0;
}

/** Classes for generic use **/
.selectable {
    outline: 2px black dashed;
}

.selected {
    outline: 2px blue solid;
}

.temporary {
    outline: 2px darkgray dashed;
}

/** Script title **/
h1 {
    margin: 32px;
    padding: 0;
    text-align: center;
}

/** Script subtitle **/
h2 {
    margin: 32px 32px;
    text-align: center;
}

/** Narration text **/
p.narration-text {
    margin: 24px 32px;
    font-style: italic;
}

/** Character text **/
div.character-text {
    margin: 24px 32px;
}

/** Temporary menu **/
div.temporary {
    margin: 24px 32px;
}

/** Command input area **/
div.command-area {
    margin-left: 32px;
    margin-right: 32px;
    box-sizing: border-box;
    display: grid;

    outline: 1px black solid;
}