.more-options {
    position: relative;
    align-self: start;

    --options-padding: 8px; 
    --top: calc(100% + 8px);
    --bottom: unset;
    --left: unset;
    --right: 0;

}


.more-options__content {
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: stretch;
    flex-direction: column;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    
    margin: 0;
    padding: 0;
    top: var(--top);
    bottom: var(--bottom);
    left: var(--left);
    right: var(--right);
    list-style: none;
    border-radius: 12px;
    padding: 16px;
    width: max-content;

    background-color: #eeeeee;
}

.more-options__content[data-show=hide] {
    visibility: hidden;
}

.more-options__content[data-show=true] {
    opacity: 1;
}

.more-options__content > li {
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
}

.more-options__content > li:nth-child(n + 2) {
    margin-top: 4px;
}

.more-options__content > li:hover {
    background-color: #cccccc;
}


.more-options__icon {
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
}

.more-options__icon:hover {
    background-color: #cccccc;
}